<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="/media/media/flaticonchanged.png" />
  <link rel="stylesheet" href="{% static 'restaurants/css/menu.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <title>{{ restaurant.name }} | Menú</title>
</head>

<body>
  <div class="banner-portada">
    <div class="info-restaurante">
      <div class="line"></div>
      <img src="{{ restaurant.foto_portada_secundaria.url }}" class="logo">
      <h1>{{ restaurant.name }}</h1>
      <p>{{ restaurant.description|safe }}</p>
      <div>
        <img src="{% static 'restaurants/img/star.svg' %}">
        <img src="{% static 'restaurants/img/star.svg' %}">
        <img src="{% static 'restaurants/img/star.svg' %}">
        <img src="{% static 'restaurants/img/star.svg' %}">
        <img src="{% static 'restaurants/img/star.svg' %}">
      </div>
    </div>
  </div>

  <div class="container-menu">
    <div class="menu-header">
      <h2>Menú</h2>
    </div>
    <hr>
    <div class="menu-items">
      {% for category in categories %}
      <h3 style="font-weight: bolder; font-size: 1.8rem; margin: 2rem 0 ; text-transform: uppercase;">
        {{ category.category_show }}</h3>
      {% if category.description %}
      <p style="margin-bottom: 2rem;">({{ category.description }})</p>
      {% endif %}
      {% for product in products %}
      {% if product.category_id.id == category.id %}
      <div class="product">
        {% if product.product_image != 'path/to/my/default/image.jpg' %}
        <img src="{{ product.product_image.url }}" class="product-img">
        {% else %}
        <p></p>
        {% endif %}
        <div class="product-detail">
          <h2>{{ product.product_name }}</h2>
          <p>{{ product.product_description }}</p>
        </div>
        <p class="product-price">{{product.currency}} {{product.price}}</p>
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
    <img src="{% static 'restaurants/img/circles.svg' %}" class="circles">
    <img src="{% static 'restaurants/img/circles.svg' %}" class="circles2">
    <img src="{% static 'restaurants/img/dots.svg' %}" class="dots">
  </div>
  <!-- <section class="menu-section-principal">
    <section class="article-portada-principal">
      <h1>
        {{restaurant.name}}
      </h1>
    </section>
    <section class="menus-section-menus">
      <section class="menus-section-menus-secundario">
        <p>
          {{restaurant.description}}
        </p>
        <h2>Menús de {{restaurant.name}}</h2>
        <img class="imagen-portada-secundaria" src="/media/{{restaurant.foto_portada_secundaria}}" alt="">
        {% for i in categories %}
        <p>
          <strong>{{i.category_show}}</strong>
        </p>
        <ul>
          {% for n in products %}
          {% if n.category_id.id == i.id %}
          <article>
                                  {{n.product_image}}
                                  {{n.product_name}}
                                  {{n.description}}
                                  {{n.currency}}{{n.price}}
                              </article>    
          <li>
            <span class="nombre-producto">{{n.product_name}}</span>
            <span class="precio-producto">{{n.currency}} {{n.price}}</span>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endfor %}
      </section>
    </section>
  </section>
 -->

  <style>
    .banner-portada {
      background-image: url('{{restaurant.foto_portada.url}}');
    }
  </style>

</body>

</html>