{% include "general/header.html" %}

    <div>
        <div>
            <h2>QR Menu AID, <br> Para Restayrantes y <br> bares </h2>
        
            <p>
                Utiliza en tu local el código QR para ayudar a contener la propagación de COVID-19. <br>
                Con nuestros QR Menu los clientes visualizaran tus especialidades/servicios sin <brr>
                necesidad de instalar ninguna APP en sus teléfonos móviles
            </p>
        </div>
        <div>
            <img src="" alt="">
        </div>
    </div>

    <h2>Ejemplos</h2>
    <hr>
    <p>
        En la siguiente galería encontrará algunos ejemplos de realizaciones de QR Menu. <br>
        Escanear los códigos QR que aparecen en las fotos.
    </p>

    <div>
        
        {% for i in first  %}
            asdfasdf
        {% endfor %}
            
    </div>

</body>
</html>