@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

.banner-portada {
  position: relative;
  width: 100vw;
  height: 65vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-menu{
  position: relative;
  margin: 9rem 5rem 0rem 5rem;
  min-height: 50rem;
  padding: 0rem 2rem;
  padding-bottom: 12rem;
  background-color: white;
}

.container-menu h2{
  text-align: center;
  font-size: 3rem;
  color: #172433;
}

.container-menu hr{
  margin: 5rem 10rem;
}

.circles, .dots, .circles2{
  position: absolute;
}

.dots{
  top: -30px;
  right: 20px;
  width: 7rem;
}

.circles{
  top: 235px;
  right: 20px;
  width: 7rem;
}

.circles2{
  bottom: -50px;
  left: 50px;
  width: 7rem;
}

.logo{
  width: 10rem !important;
  height: 10rem !important;
}

.product{
  display: grid;
  grid-template-columns: 15% 70% 15%;
  column-gap: 0.5rem;
  margin: .6rem 0;
}

.product-img{
  width: 100%;
}

.product-price{
  margin: auto;
  font-weight: bold;
  font-size: 1.3rem;
}

.product-detail h2{
  text-align: left;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-bottom: .7rem;
}

/* Media Querys */

@media(max-width: 425px){
  .info-restaurante{
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .container-menu{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  .dots, .circles, .circles2{
    width: 4rem;
  }

  .circles{
    top: 150px;
  }

  .circles2{
    bottom: -25px;
  }

  .product-detail h2{
    font-size: 1.2rem;
  }

  .product-price{
    font-size: 0.7rem;
  }

  .product{
    grid-template-columns: 15% 65% 20%;
  }
}

@media(max-width: 375px) {
  .info-restaurante{
    width: 70%;
  }

  .container-menu{
    margin-left: 0;
    margin-right: 0;
  }
}


/* Banner portada v2.0 */

.banner-portada{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.banner-portada .estrellitas img{
  max-width: 1.5rem;
  margin-right: 1rem;
}

.banner-portada .estrellitas{
  position: absolute;
  right: 6rem;
  bottom: 4rem;
}

.banner-portada .logo{
  margin-right: 4.2rem;
  border-radius: 50%;
  border: 7px solid white;
  border-radius: 50%;
}

.banner-portada p{
  max-width: 50%;
}

.banner-portada h1, .banner-portada h2, .banner-portada p{
  color: white;
}

.banner-portada h3{
  color: #EF4C00;
}

.banner-portada::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.42);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.banner-portada *{
  z-index: 2;
}

.menu-header{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 89%;
  top: -8rem;
}

.menu-header h2{
  padding: 1rem 4rem;
  width: 30%;
  background-color: white;
  z-index: 3;
  color: #172433;
  margin-top: -3rem;
  font-size: 2.1rem;
  box-shadow: 4px 3px 7px #707070;
}

.logo{
  margin-left: 11rem;
}

@media(max-width:680px){
  .banner-portada{
    flex-direction: column;
    text-align: center;
    padding: 2rem 0rem;
    height: 81vh;
  }

  .banner-portada .logo{
    margin: 0;
    margin-bottom: 2rem;
  }

  .banner-portada h3{
    margin-bottom: 1rem;
  }

  .banner-portada p{
    max-width: none;
    padding: 2rem;
  }

  .product-price{
    float: right;
  }

  .menu-header h2{
    font-size: 1.5rem;
  }
  
}

/* flecha regresar */

.flecha-regresar{
  color: #EF4C00;
  font-size: 5rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.flecha-regresar:hover{
  cursor: pointer;
  /* color:  #fff000; */
  transition: 0.3s;
  transform: scale(1.1);
}

@media(max-width: 680px){
  .flecha-regresar{
    font-size: 4rem;
    top: 0rem;
    left: 1.2rem;
  }
}