<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="/media/media/flaticonchanged.png" />
  <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
  <title>Menús QR | AID</title>
</head>

<body>
  <div class="menu-resp">
    <i class="fas fa-bars"></i>
  </div>
  {% if 'success' in request.GET %}
  <div class="modal">
    <p>Se ha enviado tu mensaje. ¡Gracias por comunicarte con nosotros!</p>
  </div>
  {% endif %}
  <nav class="slideUp">
    <div class="nav">
      <i class="fas fa-times"></i>
      <div>
        <a href="#"><img src="{% static 'core/img/taza.svg' %}" width="60" id="logoAID"></a>
      </div>
      <ul class="nav-items">
        <li class="nav-item" id="iniciolink"><a href="#">Inicio</a></li>
        <li class="nav-item" id="whatlink"><a href="#">¿Qué es?</a></li>
        <li class="nav-item" id="priceslink"><a href="#">Precios</a></li>
        <li class="nav-item" id="clientslink"><a href="#">Nuestros clientes</a></li>
        <li class="nav-item" id="contactlink"><a href="#">Contáctenos</a></li>
      </ul>
    </div>
  </nav>
  <div class="index">
    <div class="circle"></div>
    <div class="row-index">
      <div class="column1">
        <div class="container-img">
          <img src="{% static 'core/img/dots.svg' %}" class="dots">
          <img src="{% static 'core/img/dots.svg' %}" class="dots2">
          <img src="{% static 'core/img/QR.svg' %}" class="QR-index">
          <div class="gradient-box"></div>
        </div>
      </div>
      <div class="column2">
        <h3 class="aid-title">Advanced Ideas Developers</h3>
        <h1 class="QR-title">Menú QR<br>Restaurantes y bares</h1>
        <p class="desc-index">Utiliza en tu local el código QR para ayudar a contener la propagación de COVID-19.
          Con nuestros QR Menu los clientes visualizaran tus especialidades/servicios sin
          necesidad de instalar ninguna APP en sus teléfonos móviles.</p>
        <div class="buttons-index">
          <button class="btn contact">Contactar <i class="fas fa-arrow-right"></i></button>
          <button class="btn test">Probar ahora <i class="fas fa-mobile-alt"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="como-funciona">
    <h2>¿Cómo funciona?</h2>
    <p>
      El mundo ha cambiado y la tecnología ha avanzado, ya no necesitas <br> repartir tu menú. Tus clientes verán tus
      productos desde su celular.
    </p>
    <section class="razones">
      <article>
        <h1>
          1
        </h1>
        <h3>Imprimir el Código QR</h3>
        <p>
          Colocar el código QR del
          menú al alcance de tus
          clientes.
        </p>
      </article>
      <article>
        <h1>
          2
        </h1>
        <h3>Escanear el Código QR</h3>
        <p>
          Escanear el código QR con la cámara de su celular.
        </p>
      </article>
      <article>
        <h1>
          3
        </h1>
        <h3>Visualizar Menú</h3>
        <p>
          Al escanear el cliente será redirigido al menú de su local, listo para ordenar.
        </p>
      </article>
    </section>
  </div>

  <div class="section2" id="what">
    <h2>¿Por qué tener un menú digital?</h2>
    <p>El mundo ha cambiado y la tecnología ha avanzado, ya no necesitas repartir tu menú. <br>Tus clientes verán tus
      productos desde su celular.</p>
  </div>

  <div class="our-platform">
    <div class="container-platform">
      <div class="trapecio">
        <div class="circle1"></div>
        <div class="circle2"></div>
      </div>
      <img src="{% static 'core/img/phoneQR.svg' %}" class="phoneQR">
    </div>
    <div class="platform-items">
      <div class="platform-header">
        <h2>Nuestra plataforma genera tu menú digital.</h2>
        <p>Tus clientes verán tu menú escaneando el código QR con la cámara. Ya no más menus impresos en tu negocio.</p>
      </div>
      <div class="platform-element">
        <img src="{% static 'core/img/www.svg' %}">
        <div>
          <h3>Tendrás tu dirección web personalizada.</h3>
          <p>Tendrás tu propia dirección web con tu menú para compartir con los clientes o podrás usar la plataforma
            dentro de tu página si ya la tienes.</p>
        </div>
      </div>
      <div class="platform-element">
        <img src="{% static 'core/img/facebook.svg' %}">
        <div>
          <h3>Integración de tus redes sociales para ofertas.</h3>
          <p>En tu Menú Virtual podes integrar tu página de Facebook o Instagram. De esta forma tus clientes recibirán
            las actualizaciones sobre ofertas y novedades en tiempo real.</p>
        </div>
      </div>
      <div class="platform-element">
        <img src="{% static 'core/img/megafono.svg' %}">
        <div>
          <h3>Anuncia tus promociones y productos.</h3>
          <p>El Menú QR te ayudara a anuciar sobre ofertas en comidas y bebidas, permitiendo a tus clientes estar
            informados desde su teléfono, sin necesidad de tener que descargar una app.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="prices" id="prices">
    <div class="prices-header">
      <h2>Precios del servicio</h2>
      <p>El Menú QR representa una solución accesible, profesional y que ayuda a evitar la propagación del Covid 19.</p>
    </div>
    <div class="plans">
      {% for plan in planes %}
      <div class="plan">
        <h1>{{ plan.name }}</h1>
        <h2>${{ plan.price | floatformat:0 }}<span class="little-part">/ Año</span></h2>
        {% for detalle in detalles %}
        {% if detalle.plan_id.name == plan.name %}
        <div class="plan-detail">
          <img src="{% static 'core/img/check.png' %}">
          <p>{{ detalle }}</p>
        </div>
        {% endif %}
        {% endfor %}
        <button class="btn contactar">Contactar</button>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="examples">
    <div class="example1">
      <h2>Nuestros Clientes</h2>
      <p>
        Echa un vistazo a los Menú digitales de algunos <br>
        de nuestros clientes.
      </p>
    </div>
    <section class="splide-clientes" id="splide">
      <div class="splide__track">
        <ul class="splide__list">
          {% for rest in all %}
          <div {% if forloop.first %}  {% endif %} style="background-image: url('{{rest.foto_portada.url}}');" class="rest-slider splide__slide">
              <article>
                <h2>{{rest.clasification}}</h2>
                <h1>{{ rest.name }}</h1>
              </article>
              <article>
                <img src="{{ rest.foto_qr.url }}" width="160">
                <h4>
                  Escanea el código o <a href="{% url 'menu' rest.link %}" target="_blank">haz click</a>
                </h4>
              </article>
          </div>
          {% endfor %}
        </ul>

      </div>
    </section>
  </div>

  <div class="contact-us" id="contact">
    <div class="contact-box1">
      <div class="contact-header">
        <img src="{% static 'core/img/substract-white.svg' %}" width="70">
        <h2>Contáctenos</h2>
      </div>
      <h1>Desarrolla tu Menú QR</h1>
      <p>El menú QR minimiza el contacto entre los clientes y así evitas la propagación del Covid 19. No requiere
        descargar ninguna aplicación y es muy fácil de usar. ¡Comienza hoy mismo con tu menú QR!</p>
      <h2><a href="mailto:info@ai-devs.com"><i class="fas fa-envelope"></i> &nbsp;info@ai-devs.com</a></h2>
      <div class="social-networks">
        <a href="https://www.facebook.com/AdvanceIDs" target="_blank" class="fab fa-facebook-f"></a>
        <a href="https://www.instagram.com/advancedidevs/" target="_blank" class="fab fa-instagram"></a>
      </div>
      <h5>Copyright & Design by <a target="__blank" href="https://www.ai-devs.com" class="aid">Advanced Ideas
          Developers</a></h5>
    </div>

    <div class="contact-box2">
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="boton-form" type="submit">Enviar</button>
      </form>
    </div>
  </div>

  <!-- Item for scroll top -->
  <i class="fas fa-arrow-up to-top" id="toTop"></i>

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
  <script src="{% static 'core/js/index.js' %}"></script>
  <script>
    new Splide('#splide', {
      direction: 'ttb',
      height: '25rem',
      breakpoints: {
        '680': {
          height: '30rem'
        }
      }
    }).mount();

    $(window).scroll(function() {
        if ($(this).scrollTop()) {
            $('#toTop').fadeIn();
        } else {
            $('#toTop').fadeOut();
        }
    });

    $("#toTop").click(function() {
        $("html, body").animate({scrollTop: 0}, 1000);
    });
  </script>
</body>

</html>