@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  font-family: "Poppins";
}

.menu-resp {
  display: none;
}

.fas.fa-times{
  display: none;
}

nav {
  position: fixed;
  background-color: transparent;
  width: 100%;
  z-index: 3;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav img {
  display: none;
}

.nav div {
  margin-left: 2rem;
}

nav.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.nav-items {
  display: flex;
}

.nav-item {
  list-style: none;
  margin: 1.2rem;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid transparent;
  transition: 0.5s border-bottom;
}

.nav-item:hover {
  border-bottom: 2px solid #ef4c00;
}

.nav-item a {
  text-decoration: none;
  color: #102733;
}

.index {
  position: relative;
  height: 100vh;
}

.circle {
  position: absolute;
  background-color: #102733;
  width: 100vw;
  height: 100vw;
  border-radius: 50%;
  top: -120%;
  left: -65%;
  z-index: -1;
}

.row-index {
  display: flex;
}

.column1 {
  position: relative;
}

.container-img {
  position: relative;
  width: 35rem;
  height: 30rem;
  margin: auto;
  margin-top: 3rem;
  margin-right: 0;
}

.gradient-box,
.dots,
.dots2,
.QR-index {
  position: absolute;
}

.gradient-box {
  width: 20rem;
  height: 20rem;
  background: transparent linear-gradient(132deg, #ef4c00 0%, #172433 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 14px 30px 29px #0000000f;
  border-radius: 10px;
  left: 10rem;
  top: 10rem;
}

.dots {
  right: 2rem;
  top: 70px;
  width: 15rem;
}

.dots2 {
  bottom: -3.5rem;
  left: 4rem;
  width: 15rem;
  z-index: 2;
}

.QR-index {
  width: 28rem;
  z-index: 1;
  top: 70px;
}

.column2,
.column1 {
  width: 50vw;
  height: 100vh;
}

.column2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 2rem;
}

.aid-title {
  color: #ef4c00;
  font-size: 1.6rem;
  font-weight: 500;
}

.QR-title {
  color: #102733;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.desc-index {
  color: #102733;
  margin-bottom: 2rem;
}

.buttons-index {
  margin-bottom: 8rem;
}

.btn {
  padding: 0.5rem 1.4rem;
  margin-right: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
}

.contact {
  color: white;
  background-color: #102733;
}

.contact i {
  color: #ef4c00;
}

.test {
  background-color: white;
  color: #1b2d36;
}

.section2 {
  text-align: center;
}

.section2 h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.section2 p {
  color: #707070;
}

.our-platform {
  display: flex;
}

.container-platform {
  display: flex;
  margin-top: 7rem;
}

.trapecio {
  position: relative;
  width: 0;
  height: 20rem;
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid transparent;
  border-left: 20rem solid #102733;
  margin-top: 3rem;
}

.circle1,
.circle2 {
  position: absolute;
}

.circle1 {
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.1;
  left: -17rem;
  top: -3rem;
}

.circle2 {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.1;
  left: -11rem;
  top: 1.5rem;
}

.phoneQR {
  width: 22rem;
  margin-left: -4.6rem;
  z-index: 2;
}

.platform-header {
  padding: 3rem;
  padding-right: 10rem;
}

.platform-header h2 {
  margin-bottom: 1rem;
}

.platform-header p {
  color: #707070;
}

.platform-element {
  display: flex;
  padding-left: 3rem;
  padding-right: 6rem;
  margin-bottom: 3rem;
}

.platform-element img {
  margin-right: 1.5rem;
  width: 5rem;
}

.platform-element:nth-child(3) img {
  margin-right: 0.4rem;
  width: 6rem;
}

.platform-element h3 {
  margin-bottom: 0.5rem;
  color: #1a2e35;
}

.platform-element p {
  color: #707070;
}

.prices-header {
  text-align: center;
  margin-top: 10rem;
}

.prices-header h2 {
  font-size: 2.2rem;
  margin-bottom: 2.6rem;
}

.prices-header p {
  font-size: 1.3rem;
  padding: 0 23rem;
  color: #707070;
}

.plans {
  display: flex;
  margin-top: 10rem;
  margin-bottom: 4rem;
  justify-content: center;
}

.plan {
  box-shadow: 0px 2px 6px #00000029;
  border-radius: 8px;
  padding: 2rem;
  border: 1px solid transparent;
  margin: 0 1rem;
  text-align: center;
  width: 18rem;
  align-self: flex-start;
  transition: 0.4s;
}

.plan:hover {
  border: 1px solid #ef4c00;
}

.plan h1 {
  font-size: 1.6rem;
}

.plan h2 {
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.plan-detail {
  display: flex;
  margin-bottom: 1rem;
}

.plan-detail img {
  width: 1.4rem;
  height: 1.3rem;
  margin-right: 0.7rem;
}

.contactar {
  display: none;
  margin-top: 2rem;
  background-color: #ef4c00;
  color: white;
}

.contactar:hover {
  background-color: white;
  color: #ef4c00;
}

.examples {
  display: flex;
  position: relative;
  background-color: #f8f8f8;
  margin-top: 12rem;
}

.example1,
.example2 {
  width: 50vw;
}

.header-example {
  display: flex;
  align-items: center;
  padding-top: 12rem;
  margin-left: 4rem;
}

.blue-dots {
  position: absolute;
  width: 8rem;
  left: 8rem;
  top: -9rem;
}

.circles {
  position: absolute;
  bottom: 4rem;
  left: 8rem;
}

.header-example h3 {
  margin-left: 1rem;
  color: #102733;
}

.header-content {
  margin-top: 3rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.header-content h1 {
  color: #102733;
}

.header-content p {
  color: #102733;
  margin-top: 1rem;
}

.example2 {
  display: grid;
  grid-template-areas:
    "first second"
    "first third";
  row-gap: 2rem;
  align-items: center;
  grid-template-columns: 50% 50%;
  column-gap: 2rem;
  padding: 3rem;
}

/* .example2 > div {
  background-color: antiquewhite;
} */

.first {
  grid-area: first;
}

.line-qr {
  width: 0.6rem;
  height: 3rem;
  background-color: #ef4c00;
}

.box-qr {
  margin: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  align-items: center;
  color: white;
  background: #102733 0% 0% no-repeat padding-box;
  border-radius: 22px;
}

.box-qr h2 {
  margin-bottom: 0.9rem;
}

.box-qr h4 {
  margin-bottom: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
}

.box-qr a {
  padding: 0.7rem 1.5rem;
  margin-top: 1rem;
  background-color: #ef4c00;
  border: none;
  color: white;
  text-decoration: none;
}

.contact-us {
  display: flex;
  background-color: #102733;
  color: white;
}

.contact-box1,
.contact-box2 {
  width: 50vw;
}

.contact-header {
  display: flex;
  align-items: center;
  padding-top: 4rem;
  margin-left: 3rem;
}

.contact-header h2 {
  margin-left: 0.8rem;
}

.contact-box1 h1,
.contact-box1 p,
.contact-box1 > h2 {
  margin-left: 3rem;
  margin-right: 6rem;
}

.contact-box1 h1 {
  font-size: 4rem;
  margin-top: 4rem;
}

.contact-box1 p {
  margin-top: 2rem;
}

.contact-box1 > h2 {
  margin-top: 1rem;
}

.contact-box1 a {
  text-decoration: none;
  color: white;
  transition: 0.6s color;
}

.contact-box1 a:hover {
  color: #ef4c00;
}

.social-networks {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 6rem;
}

.social-networks a {
  text-align: center;
  width: 1.5rem;
  padding: 0.6rem;
  font-size: 1.4rem;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 1rem;
}

.contact-box1 h5 {
  margin-left: 3rem;
  margin-top: 3rem;
}

.aid {
  color: #00a1fa !important;
  transition: 0.6 color;
}

.aid:hover {
  color: #ef4c00 !important;
}

.fab.fa-facebook-f:hover {
  color: #0088fb;
}

.fab.fa-instagram:hover {
  color: #ee5296;
}

.contact-box2 {
  display: flex;
  padding: 12rem 0;
  justify-content: center;
}

.contact-box2 form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid #00a1fa;
  transition: 0.7s;
}

input,
textarea {
  padding: 5px 3px;
  border-bottom: 1px solid black;
  border: none;
  border-bottom: 2px solid #e3e3e3;
  max-width: 100%;
  /* width: 63%; */
  font-size: 1rem;
  resize: none;
  background-color: transparent;
  color: white;
  margin-bottom: 1rem;
}

textarea {
  max-height: 9rem;
}

.boton-form {
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 1.19rem;
  padding: 10px 16px;
  color: white;
  background-color: #ef4c00;
  border: none;
  /* width: 63%; */
}

@media (max-width: 768px) {
  nav {
    /* display: none; */
    background-color: white;
    width: 100vw;
    z-index: 11;
    top: -35rem;
    transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  .fas.fa-times{
    display: block;
  }

  .menu-resp.scrolled{
    background-color: white;
    transition: all 0.2s ease-in-out;
  }

  .expanded{
    top: 0;
  }

  .nav {
    flex-direction: column;
  }

  .nav img {
    display: inline;
  }

  .nav ul {
    flex-direction: column;
  }

  .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #ef4c00;
    font-size: 2rem;
  }

  .index {
    height: auto;
  }

  .row-index {
    flex-direction: column-reverse;
  }

  .circle {
    top: -40rem;
    left: -23rem;
  }

  .column1,
  .column2 {
    width: 100vw;
    height: auto;
  }

  .column2 {
    width: 90vw;
    margin: 8.4rem auto 0 auto;
    padding: 0;
  }

  .column1 {
    margin-bottom: 6rem;
  }

  .buttons-index {
    margin-bottom: 0;
  }

  .container-img {
    margin: 2rem auto 0 auto;
  }

  .our-platform {
    flex-direction: column;
  }

  .platform-header {
    text-align: center;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .prices-header p {
    padding: 0 2rem;
  }

  .examples {
    flex-direction: column;
  }

  .example1,
  .example2 {
    width: 100vw;
  }

  .example2 {
    column-gap: 0;
    padding: 0;
  }

  .contact-box1,
  .contact-box2 {
    width: 100vw;
  }

  .contact-us {
    flex-direction: column;
  }

  .contact-box1 h1 {
    font-size: 3.2rem;
  }

  .circles {
    bottom: 2rem;
    left: 3rem;
  }

  .menu-resp {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 2rem;
    color: #ef4c00;
    width: 100vw;
    z-index: 10;
  }

  .menu-resp i {
    padding: 1rem;
  }
}

@media(max-width:425px){
  .circle {
    top: -20rem;
    left: -10rem;
  }

  .container-img{
    width: 70vw;
    height: 70vw;
  }

  .dots, .dots2{
    width: 7rem;
  }

  .dots{
    top: 1rem;
    right: 0;
  }

  .dots2{
    bottom: 1rem;
  }

  .QR-index{
    width: 15rem;
    top: 2rem;
  }

  .gradient-box{
    width: 11rem;
    height: 11rem;
    left: 5rem;
    top: 4rem;
  }

  .trapecio{
    border-left: 10rem solid #102733;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    height: 15rem;
  }

  .circle1{
    width: 16rem;
    height: 16rem;
    left: -7rem;
    top: 0rem;
  }

  .circle2{
    width: 9rem;
    height: 9rem;
    top: 3.4rem;
    left: -4rem;
  }

  .phoneQR{
    width: 15rem;
  }

  .plans{
    flex-direction: column;
    margin: 2rem 0;
  }

  .section2{
    padding: 0 1rem;
  }

  .plan{
    margin-bottom: 2rem;
    margin: 1rem auto;
  }

  .header-content{
    margin: 2rem;
  }

  .example2{
    grid-template-columns: 100%;
    grid-template-areas: 'first' 'second' 'third';
  }

  .circles{
    display: none;
  }

  .contact-box1 h1{
    margin: 2rem 2rem 0 2rem;
  }

  .contact-box1 p{
    margin: 1rem 2rem 0 2rem;
  }

  .contact-box1>h2{
    margin: 1rem 2rem 0 2rem;
    text-align: center;
  }

  .social-networks{
    margin: 2rem;
  }

  .contact-box2{
    padding: 8rem 0;
  }

  .buttons-index{
    text-align: center;
  }
}
