@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  font-family: "Poppins";
}

nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  width: 100%;
  z-index: 2;
}

.nav-items {
  display: flex;
}

.nav-item {
  list-style: none;
  margin: 1.2rem;
  padding-bottom: 0.3rem;
}

.nav-item a {
  text-decoration: none;
  color: #102733;
}

.index {
  position: relative;
  height: 100vh;
}

.circle {
  position: absolute;
  background-color: #102733;
  width: 100vw;
  height: 100vw;
  border-radius: 50%;
  top: -120%;
  left: -65%;
  z-index: -1;
}

.row-index {
  display: flex;
}

.column1 {
  position: relative;
}

.container-img {
  position: relative;
  width: 35rem;
  height: 30rem;
  margin: auto;
  margin-top: 3rem;
  margin-right: 0;
}

.gradient-box,
.dots,
.dots2,
.QR-index {
  position: absolute;
}

.gradient-box {
  width: 20rem;
  height: 20rem;
  background: transparent linear-gradient(132deg, #ef4c00 0%, #172433 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 14px 30px 29px #0000000f;
  border-radius: 10px;
  left: 10rem;
  top: 10rem;
}

.dots {
  right: 2rem;
  top: 70px;
  width: 15rem;
}

.dots2 {
  bottom: -3.5rem;
  left: 4rem;
  width: 15rem;
  z-index: 2;
}

.QR-index {
  width: 28rem;
  z-index: 1;
  top: 70px;
}

.column2,
.column1 {
  width: 50vw;
  height: 100vh;
}

.column2{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 2rem;
}

.aid-title{
  color: #EF4C00;
  font-size: 1.6rem;
  font-weight: 500;
}

.QR-title{
  color: #102733;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.desc-index{
  color: #102733;
  margin-bottom: 2rem;
}

.buttons-index{
  margin-bottom: 8rem;
}

.btn{
  padding: 0.5rem 1.4rem;
  margin-right: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
}

.contact{
  color: white;
  background-color: #102733;
}

.contact i{
  color: #EF4C00;
}

.test{
  background-color: white;
  color: #1B2D36;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid #00a1fa;
  transition: 0.7s;
}

input,
textarea {
  padding: 5px 3px;
  border-bottom: 1px solid black;
  border: none;
  border-bottom: 2px solid #e3e3e3;
  max-width: 100%;
  width: 63%;
  font-size: 1rem;
  resize: none;
}

textarea {
  max-height: 9rem;
}

.menu-section {
  display: flex;
  background-color: #00cdc1;
  padding: 2rem 6rem;
  column-gap: 8rem;
}

.menu-section p {
  text-align: justify;
  line-height: 1.8rem;
}

.menu-section h2 {
  font-weight: bold;
  font-size: 3rem;
}

.menu-section .AID {
  color: #fff;
}

.menu-section img {
  width: 34rem;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants-section {
  padding: 3rem 8.5rem;
  background-color: #fff;
}

.restaurants-section-2 {
  padding: 0rem 8.5rem 3rem 8.5rem;
}

.prices-section {
  padding: 3rem 8.5rem;
  background-color: #f9f9f9;
}

.restaurants-section > h2,
.restaurants-section > p,
.prices-section > h2,
.prices-section > p {
  text-align: center;
}

.restaurants-section h2,
.prices-section h2 {
  font-size: 1.8rem;
}

.restaurants-article h2 {
  font-weight: 500;
  color: #232323;
  font-size: 1.875rem;
}

.restaurants-article img {
  max-width: 100%;
}

.restaurants-article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  margin-top: 2.6rem;
}

.plans-titles {
  /* background-color: #D1840A; */
  background-color: #ff9500;
  text-align: center;
  padding: 1rem;
}

.plans-titles h3 {
  text-transform: uppercase;
}

.plans-titles h3,
.plans-titles h2 {
  color: white;
}

.plans-titles h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

.little-part {
  font-size: 1rem;
}

.plans-article {
  margin-top: 4.8rem;
}

.features-article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  margin-top: 3.5rem;
}

.features-article-2 {
  margin-top: 0rem;
}

.check-texto {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.image-stop {
  width: 29rem;
}

.plans-article ul li {
  list-style: none;
}

.plans-article ul {
  padding: 0;
  text-align: center;
  line-height: 3rem;
  border: 1px solid #e4e4e4;
  padding-top: 2.1rem;
  margin-top: 0rem;
  padding-bottom: 2.1rem;
}

.icono-check {
  color: #00a1fa;
  margin-right: 5px;
}

.check-texto .icono-check {
  border: 2px solid;
  padding: 0.44rem 0.4rem;
  border-radius: 50%;
}

.ejemplos-section {
  padding: 3rem 8.5rem 5rem 8.5rem;
}

.article-paralax {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 8.5rem;
  background-image: url("/media/media/cena_elegante.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  color: white;
  row-gap: 2.1rem;
  text-align: center;
}

.article-paralax h3 {
  font-size: 1.5rem;
}

.hr-final {
  border: 1px solid #e7e7e7;
}

footer {
  padding: 1rem;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #00a1fa;
}

.contenedor-qr {
  position: relative;
}

.restaurant-secundary-image {
  position: absolute;
  height: 57%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boton-form {
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 1.19rem;
  padding: 10px 16px;
  color: white;
  background-color: #ff9500;
  border: none;
  width: 63%;
}

.lista-contacto-contacto {
  padding: 0;
}

.lista-contacto-contacto a {
  text-decoration: none;
  color: #333;
}

.lista-contacto-contacto a:hover {
  color: #00a1fa;
  transition: 0.7s;
}

.lista-contacto-contacto i {
  margin-right: 1rem;
}

.lista-contacto-contacto li {
  list-style: none;
  margin: 1rem 0rem;
}

.contacto_redes-sociales i {
  margin-right: 1.5rem;
  font-size: 1.3rem;
}

.contacto-facebook:hover {
  color: #0088fb;
  cursor: pointer;
  transition: 0.7s;
}
.contacto-instagram:hover {
  color: #ee5296;
  cursor: pointer;
  transition: 0.7s;
}

.contacto-whatsapp:hover {
  color: #00ca33;
  cursor: pointer;
  transition: 0.7s;
}

.contacto-texto {
  padding-right: 4.5rem;
  text-align: justify;
}

.link-aid {
  color: #00a1fa !important;
  text-decoration: none;
}

.contacto_redes-sociales a {
  text-decoration: none;
  color: #333;
}

.contacto-texto > * {
  margin-bottom: 1.5rem;
}

.navbar-general {
  background-color: #00cdc1;
}

.navbar-general ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 3rem;
  margin: 0 4rem;
  align-items: center;
  min-height: 6rem;
}

.navbar-general li {
  list-style: none;
  font-weight: bold;
}

.navbar-general a {
  text-decoration: none;
  color: white;
}

.boton-contacto {
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 1.19rem;
  padding: 10px 21px;
  color: white;
  background-color: #ff9500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}

.contacto-li {
  margin-top: 1rem;
}

@media (max-width: 680px) {
  .menu-section {
    padding: 2rem;
    row-gap: 3rem;
    flex-direction: column;
  }

  .menu-section img {
    width: 21rem;
    border-radius: 30px;
  }

  .menu-section p {
    line-height: 1.9rem;
    font-size: 1.2rem;
  }

  .restaurants-article {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 3rem;
    margin-top: 1.5rem;
  }

  .restaurants-section,
  .prices-section {
    padding: 2rem;
  }
  .restaurants-section > p,
  .prices-section p {
    font-size: 1.2rem;
    line-height: 1.9rem;
  }
  /* 
    h3{
        font-size: 1.41rem;   
    } */

  .plans-article {
    margin-top: 2.1rem;
  }

  .features-article {
    grid-template-columns: 1fr;
    row-gap: 0rem;
  }

  .image-stop {
    width: 21rem;
  }
  .article-paralax {
    padding: 2rem;
  }

  input,
  textarea {
    width: 90%;
  }

  .form-actions {
    text-align: center;
    margin-top: 2rem;
  }
}
